body {
    font-family: Arial, sans-serif;

    background: url('../img/codigo.svg'), linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);


    background-size: auto;
    background-repeat: no-repeat;
    /* Hace que la imagen cubra todo el área del elemento */
    background-position: right;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
}

input[type="text"],
input[type="number"],
select {
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23333' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;
}

/* Para Firefox */
select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

/* Para IE y Edge */
select::-ms-expand {
    display: none;
}

button {
    padding: 10px 40px;
    width: fit-content;
    background-color: #1875E8;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    max-height: fit-content;
    overflow-y: auto;
    width: 100%;
}

ul li {
    padding: 10px;
    background-color: #041832;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

ul li:last-child {
    border-bottom: none;
}

.main-container {
    display: flex;
    justify-content: center;
    top: 110px;
    left: 120px;
    width: 1200px;
    min-height: 80vh;
    margin: 0px auto;
    padding: 20px;
    background: linear-gradient(0deg, rgba(20, 68, 128, 0.3), rgba(20, 68, 128, 0.3)),
        linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));

    border-radius: 24px;
    color: white;
    box-shadow: 4px 4px 20px 0px #01080E26;
    border: 1px solid #1875E8
}

.container {
    display: flex;
    gap: 45px;
    width: 860px;
    align-items: center;
    flex-direction: column;
    padding: 45px;
    opacity: 0px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-container img {
    width: 50%;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    gap: 20px;
}

.total {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    color: #fff;

}

/* Estilo para el botón en estado normal */
#botonFormulario {
    background-color: #4CAF50;
    /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo para el botón cuando está deshabilitado */
#botonFormulario:disabled {
    background-color: #cccccc;
    /* Gris claro */
    color: #666666;
    /* Gris oscuro */
    cursor: not-allowed;
    opacity: 0.7;
}

/* Efecto hover para el botón habilitado */
#botonFormulario:hover:not(:disabled) {
    background-color: #45a049;
    /* Verde más oscuro */
}